<template>
  <div class="account-panel">
    <div class="name-wrapper">
      <span class="name">{{ user && user.firstName }} {{ user && user.lastName }}</span>
    </div>
    <div class="menu-wrapper">
      <div class="menu">
        <a-tabs
          class="dp-none-lg-min"
          :active-key="activeKey"
          @change="onChangeTab"
        >
          <a-tab-pane
            v-for="(menu, index) in menuList"
            :key="`${index}`"
            :tab="menu.label"
          />
        </a-tabs>
        <nuxt-link
          v-for="(menu, index) in menuList"
          :key="index"
          class="menu-item dp-none-max-lg"
          exact-active-class="is-active"
          :to="menu.link"
        >
          {{ menu.label }}
        </nuxt-link>
        <div class="menu-item dp-none-max-lg" style="color: red; cursor: pointer" @click="logout()">
          ออกจากระบบ
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountPanel',
  props: {
    user: {
      type: Object,
      defaultValue: {}
    }
  },
  data () {
    return {
      menuList: [
        {
          name: 'account',
          label: 'ข้อมูลส่วนตัว',
          link: '/account'
        },
        {
          name: 'bank-account',
          label: 'บัญชีธนาคาร',
          link: '/account/bank-account'
        },
        {
          name: 'farm',
          label: 'ฟาร์ม',
          link: '/account/farm'
        },
        {
          name: 'buy-offer',
          label: 'รายการเสนอซื้อ',
          link: '/account/buy-offer'
        },
        {
          name: 'sell-offer',
          label: 'รายการเสนอขาย',
          link: '/account/sell-offer'
        },
        {
          name: 'follow-auction',
          label: 'ประมูลที่ติดตาม',
          link: '/account/follow-auction'
        },
        {
          name: 'buy-credit',
          label: 'เครดิตซื้อ',
          link: '/account/buy-credit'
        },
        {
          name: 'sell-credit',
          label: 'เครดิตขาย',
          link: '/account/sell-credit'
        },
        {
          name: 'employment',
          label: 'การจ้างงาน',
          link: '/account/employment'
        }
      ],
      activeKey: undefined
    }
  },
  mounted () {
    this.initActiveKey()
    this.$nuxt.$on('routeChanged', () => {
      this.initActiveKey()
    })
  },
  beforeDestroy () {
    this.$nuxt.$off('routeChanged', this.onRouteChange)
  },
  methods: {
    initActiveKey () {
      this.activeKey = this.getDefaultActiveKey()
    },
    onChangeTab (index) {
      this.$router.push(this.menuList[parseInt(index)].link)
    },
    getDefaultActiveKey () {
      const currentPath = this.$router.currentRoute.path
      const fixedPathArr = ['/account/edit-offer']
      if (fixedPathArr.includes(currentPath)) {
        switch (currentPath) {
          case '/account/edit-offer':
            return '3'
        }
      } else {
        const splitRoutePath = this.$router.currentRoute.path.split('/').filter(str => str !== '')
        const joinRoutePath = splitRoutePath.length === 1 ? splitRoutePath[0] : [splitRoutePath[0], splitRoutePath[1]].join('/')
        const parentRoutePath = `/${joinRoutePath}`
        return this.menuList.findIndex(menu => menu.link === parentRoutePath) + ''
      }
    },
    logout () {
      const Cookie = process.client ? require('js-cookie') : undefined
      Cookie.remove('auth')
      window.location.reload()
    }
  }
}
</script>

<style lang="less" scoped>
.account-panel {
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(158, 158, 158, 0.4)
}
.name-wrapper {
  padding: 23px 0px 15px 0px;
  text-align: center;
  margin: 0 20px;
  @media only screen and (min-width: 992px) {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
  }
  .name {
    color: #424242;
    font-weight: 500;
    font-size: 1.6rem;
  }
}
.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu {
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: 991px) {
    width: 100%;
  }
  @media only screen and (min-width: 992px) {
    padding: 5px 0px 35px 0px;
  }
  a {
    text-decoration: none;
  }
  .menu-item {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #95989a;
    &.is-active {
      color: rgba(255, 167, 38, 1);
    }
  }
}
.dp-none-max-lg {
  @media only screen and (max-width: 991px) {
    display: none;
  }
}
.dp-none-lg-min {
  @media only screen and (min-width: 992px) {
    display: none;
  }
}
</style>

<style>
.ant-tabs-bar {
  border-bottom: 0;
}
.ant-tabs-tab {
  font-size: 1.4rem;
}
.ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-nav .ant-tabs-tab:hover {
  color: rgba(255, 167, 38, 1);
}
.ant-tabs-ink-bar {
  background: rgba(255, 167, 38, 1);
}
</style>
