<template>
  <a-form>
    <div class="form-wrapper">
      <a-form-item
        label="ชื่อฟาร์ม"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        :validate-status="errors.has('farmName') ? 'error' : ''"
        :help="errors.has('farmName') ? 'โปรดกรอกชื่อฟาร์ม' : ''"
      >
        <a-input
          v-validate="'required'"
          name="farmName"
          placeholder="ชื่อฟาร์ม"
          :value="farmName"
          @change="e => onChangeInputSync('farmName', e)"
        />
      </a-form-item>
      <a-form-item
        label="ชนิด"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        :validate-status="errors.has('fruitTypeId') ? 'error' : ''"
        :help="errors.has('fruitTypeId') ? 'โปรดเลือกชนิด' : ''"
      >
        <a-select
          v-validate="'required'"
          name="fruitTypeId"
          placeholder="ชนิด"
          :value="fruitTypeId"
          @change="e => $emit('changeFruitType', e)"
        >
          <a-select-option
            v-for="(fruitType, index) in fruitTypeList"
            :key="index"
            :value="fruitType.id"
          >
            {{ fruitType.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        v-if="isFruitTypeSelected"
        label="ชนิดพันธุ์"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        :validate-status="errors.has('fruitBreedId') ? 'error' : ''"
        :help="errors.has('fruitBreedId') ? 'โปรดเลือกชนิดพันธุ์' : ''"
      >
        <a-select
          v-validate="'required'"
          name="fruitBreedId"
          placeholder="ชนิดพันธุ์"
          :value="fruitBreedId"
          @change="e => onChangeSelectSync('fruitBreedId', e)"
        >
          <a-select-option
            v-for="(fruitBreed, index) in fruitBreedsList"
            :key="index"
            :value="fruitBreed.id"
          >
            {{ fruitBreed.name }}
          </a-select-option>
        </a-select>
      </a-form-item>
      <a-form-item
        label="พื้นที่ปลูก (ไร่)"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        :validate-status="errors.has('numArea') ? 'error' : ''"
        :help="errors.has('numArea') ? 'โปรดกรอกพื้นที่ปลูก' : ''"
      >
        <a-input
          v-validate="'required'"
          name="numArea"
          placeholder="พื้นที่ปลูก (ไร่)"
          :value="numArea"
          @change="e => onChangeInputSync('numArea', e)"
        />
      </a-form-item>
      <a-form-item
        label="จำนวนต้น (ต้น)"
        :label-col="{ span: 5 }"
        :wrapper-col="{ span: 12 }"
        :validate-status="errors.has('numTree') ? 'error' : ''"
        :help="errors.has('numTree') ? 'โปรดกรอกจำนวนต้น' : ''"
      >
        <a-input
          v-validate="'required'"
          name="numTree"
          placeholder="จำนวนต้น (ต้น)"
          :value="numTree"
          @change="e => onChangeInputSync('numTree', e)"
        />
      </a-form-item>
    </div>
    <div class="content-wrapper">
      <div class="-wrapper">
        <span class="title">มาตรฐาน</span>
      </div>
      <div class="form-wrapper">
        <a-form-item
          label="มาตรฐาน"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('farmStandardId') ? 'error' : ''"
          :help="errors.has('farmStandardId') ? 'โปรดเลือกมาตรฐาน' : ''"
        >
          <a-select
            v-validate="'required'"
            name="farmStandardId"
            placeholder="มาตรฐาน"
            :value="farmStandardId"
            @change="e => onChangeSelectSync('farmStandardId', e)"
          >
            <a-select-option
              v-for="(standard, index) in standardList"
              :key="index"
              :value="standard.id"
            >
              {{ standard.name }}
            </a-select-option>
          </a-select>
        </a-form-item>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="title-wrapper">
        <span class="title">ที่ตั้งฟาร์ม</span>
      </div>
      <div class="form-wrapper">
        <a-form-item
          label="ที่อยู่"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('address') ? 'error' : ''"
          :help="errors.has('address') ? 'โปรดกรอกที่อยู่' : ''"
        >
          <a-input
            v-validate="'required'"
            name="address"
            placeholder="ที่อยู่"
            :value="address"
            @change="e => onChangeInputSync('address', e)"
          />
        </a-form-item>
        <a-form-item
          label="ถนน"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('road') ? 'error' : ''"
          :help="errors.has('road') ? 'โปรดกรอกถนน' : ''"
        >
          <a-input
            v-validate="'required'"
            name="road"
            placeholder="ถนน"
            :value="road"
            @change="e => onChangeInputSync('road', e)"
          />
        </a-form-item>
        <a-form-item
          label="จังหวัด"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('provinceId') ? 'error' : ''"
          :help="errors.has('provinceId') ? 'โปรดเลือกจังหวัด' : ''"
        >
          <a-select
            v-validate="'required'"
            name="provinceId"
            placeholder="จังหวัด"
            :value="provinceId"
            @change="e => $emit('changeAddress', 'province', e)"
          >
            <a-select-option
              v-for="(province, index) in provinceList"
              :key="index"
              :value="province.id"
            >
              {{ province.name.th }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item
          label="เขต/อำเภอ"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('districtId') ? 'error' : ''"
          :help="errors.has('districtId') ? 'โปรดเลือกเขต/อำเภอ' : ''"
        >
          <a-select
            v-validate="'required'"
            name="districtId"
            placeholder="เขต/อำเภอ"
            :value="districtId"
            @change="e => $emit('changeAddress', 'district', e)"
          >
            <a-select-option
              v-for="(district, index) in districtList"
              :key="index"
              :value="district.id"
            >
              {{ district.name.th }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item
          label="แขวง/ตำบล"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('subDistrictId') ? 'error' : ''"
          :help="errors.has('subDistrictId') ? 'โปรดเลือกแขวง/ตำบล' : ''"
        >
          <a-select
            v-validate="'required'"
            name="subDistrictId"
            placeholder="แขวง/ตำบล"
            :value="subDistrictId"
            @change="e => $emit('changeAddress', 'subDistrict', e)"
          >
            <a-select-option
              v-for="(subDistrict, index) in subDistrictList"
              :key="index"
              :value="subDistrict.id"
            >
              {{ subDistrict.name.th }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item
          label="รหัสไปรษณีย์"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('postalCodeId') ? 'error' : ''"
          :help="errors.has('postalCodeId') ? 'โปรดเลือกรหัสไปรษณีย์' : ''"
        >
          <a-select
            v-validate="'required'"
            name="postalCodeId"
            placeholder="รหัสไปรษณีย์"
            :value="postalCodeId"
            @change="e => $emit('changeAddress', 'postalCode', e)"
          >
            <a-select-option
              v-for="(postalCode, index) in postalCodeList"
              :key="index"
              :value="postalCode.id"
            >
              {{ postalCode.code }}
            </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item
          label="เบอร์โทรศัพท์"
          :label-col="{ span: 5 }"
          :wrapper-col="{ span: 12 }"
          :validate-status="errors.has('phoneNumber') ? 'error' : ''"
          :help="errors.has('phoneNumber') ? 'โปรดกรอกเบอร์โทรศัพท์' : ''"
        >
          <a-input
            v-validate="'required'"
            name="phoneNumber"
            placeholder="เบอร์โทรศัพท์"
            :value="phoneNumber"
            @change="e => onChangeInputSync('phoneNumber', e)"
          />
        </a-form-item>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="title-wrapper">
        <span class="title">รูปของฟาร์ม</span>
      </div>
      <div class="form-wrapper">
        <a-form-item
          :validate-status="errors.has('farmMedias') ? 'error' : 'warning'"
          help="รูปประกอบการขายและเอกสารยืนยันการได้รับมาตรฐานจากองค์กรนั้นๆ"
        >
          <a-upload
            multiple
            list-type="picture-card"
            :file-list="uploadMediaList"
            :show-upload-list="{ showPreviewIcon: false }"
            :before-upload="beforeUpload"
            :remove="removeUpload"
            @change="e => $emit('changeFarmMedia', e)"
          >
            <div>
              <a-icon type="plus" />
              <div class="ant-upload-text">
                Upload
              </div>
            </div>
          </a-upload>
        </a-form-item>
      </div>
    </div>
    <div class="action-wrapper">
      <a-button class="oa-button is-danger" size="large" :style="{ marginRight: '18px' }">
        ลบ
      </a-button>
      <a-button class="oa-button" size="large" :style="{ marginRight: '18px' }">
        ยกเลิก
      </a-button>
      <a-button class="oa-button is-primary" size="large" @click="onSubmit">
        บันทึก
      </a-button>
    </div>
  </a-form>
</template>

<script>
export default {
  name: 'FarmForm',
  model: {
    prop: 'checked',
    event: 'change'
  },
  props: {
    fruitTypeList: {
      type: Array,
      required: true
    },
    fruitBreedsList: {
      type: Array,
      required: true
    },
    standardList: {
      type: Array,
      required: true
    },
    subDistrictList: {
      type: Array,
      required: true
    },
    districtList: {
      type: Array,
      required: true
    },
    provinceList: {
      type: Array,
      required: true
    },
    postalCodeList: {
      type: Array,
      required: true
    },
    farmName: String,
    fruitTypeId: Number,
    fruitBreedId: Number,
    numArea: [Number, String],
    numTree: [Number, String],
    farmStandardId: Number,
    address: String,
    road: String,
    provinceId: [Number, String],
    subDistrictId: Number,
    districtId: Number,
    postalCodeId: [Number, String],
    countryId: Number,
    phoneNumber: String,
    uploadMediaList: Array,
    beforeUpload: Function,
    removeUpload: Function
  },
  computed: {
    isFruitTypeSelected () {
      return Boolean(this.fruitTypeId)
    }
  },
  methods: {
    onChangeInputSync (emitKey, e) {
      this.$emit(`update:${emitKey}`, e.target.value)
    },
    onChangeSelectSync (emitKey, id) {
      this.$emit(`update:${emitKey}`, id)
    },
    async validateForm () {
      const validateAll = await this.$validator.validateAll()
      const isFarmMediasExceed = this.uploadMediaList.length > 5

      if (isFarmMediasExceed) { this.addError('farmMedias') } else if (this.errors.has('farmMedias')) { this.removeError('farmMedias') }

      return validateAll && !isFarmMediasExceed
    },
    async onSubmit () {
      const canSubmit = await this.validateForm()
      if (canSubmit) {
        this.$emit('submit')
      } else {
        const firstErrorField = this.$validator.errors.items[0].field
        if (firstErrorField !== 'farmMedias') { this.scrollToFirstField(firstErrorField) }
      }
    },
    addError (field) {
      if (!this.errors.has(field)) { this.errors.add({ field, msg: 'Error message' }) }
    },
    removeError (field) {
      this.errors.remove(field)
    },
    scrollToFirstField (field) {
      this.$el
        .querySelector(`[name='${field}']`)
        .scrollIntoView({ block: 'end' })
    }
  }
}
</script>

<style lang="less" scoped>
.content-wrapper {
  .title-wrapper {
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
    padding-bottom: 7px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #424242;
      font-size: 1.6rem;
      font-weight: 500
    }
  }
}
.action-wrapper {
   border-top: 1px solid rgba(158, 158, 158, 0.4);
   display: flex;
   justify-content: flex-end;
   padding-top: 36px;
}
.form-wrapper {
  padding: 45px 0;
  @media only screen and (min-width: 992px) {
    padding: 45px 80px;
  }
  /deep/ .ant-input {
    height: 40px;
    &::placeholder {
      color: #95989a;
    }
  }
  /deep/ .ant-select-selection--single {
    height: 40px;
  }
  /deep/ .ant-form-item {
    margin-bottom: 20px;
  }
  /deep/ .ant-select-selection__rendered {
    line-height: 38px;
  }
  /deep/ .ant-select-selection__placeholder {
    color: #95989a;
    font-weight: 400;
    font-size: 1.4rem;
  }
  /deep/ .ant-form-item-label > label {
    color: #424242;
  }
}
</style>
