<template>
  <div id="farmSelector">
    <farm-none v-if="farms.length === 0" />
    <template v-else>
      <div class="header-container">
        <div class="title-container">
          <div class="title">
            <span><label class="farm">Farm : </label><label class="products">{{ selectedFarmName }}</label></span>
          </div>
        </div>
        <div class="button-container">
          <a-button
            :disabled="!selectedFarmId"
            class="oa-button is-primary"
            @click="onNextState"
            size="large"
          >
            ถัดไป
          </a-button>
        </div>
      </div>
      <a-row :gutter="20" :style="{ minHeight: '384px' }">
        <a-col v-for="farm in farms" class="pd-vtc-10px is-wrapped" :key="farm.id" :md="{ span: 8 }">
          <a-card
            class="card"
            :class="{ 'is-active': selectedFarmId === farm.id }"
            hoverable
            bordered
            @click="onSelectFarm(farm.id, farm.name)"
          >
            <div
              slot="cover"
              class="pd-all-15px img-wrapper"
              alt="farm-avatar"
              :style="{ backgroundImage: `url('${mapMediaPath(farm.medias)}')`}"
            />
            <div class="f-w-500 cl-primary">
              {{ farm.name }}
            </div>
            <div class="f-w-500 mg-bt-10px">
              {{ `${mapLocale(farm.districts)}, ${mapLocale(farm.province)}` }}
            </div>
            <div class="f-w-500">
              ผลไม้ :
              <span class="f-w-normal">{{ farm.fruitType || '-' }}</span>
            </div>
            <div class="f-w-500">
              สายพันธุ์ :
              <span class="f-w-normal">{{ farm.fruitBreed || '-' }}</span>
            </div>
            <div class="f-w-500">
              พื้นที่ :
              <span class="f-w-normal">{{ farm.numArea | numberComma }} ไร่</span>
            </div>
            <div class="f-w-500">
              จำนวน :
              <span class="f-w-normal">{{ farm.numTree | numberComma }} ต้น</span>
            </div>
          </a-card>
        </a-col>
      </a-row>
    </template>
  </div>
</template>

<script>
const DEFAULT_MEDIA = require('~/assets/images/mango.jpg')

export default {
  components: {
    FarmNone: () => import('~/components/account/FarmNone.vue')
  },
  props: {
    selectedFarmName: {
      type: String,
      default: '-'
    },
    farms: {
      type: Array,
      default: () => []
    },
    selectedFarmId: {
      type: Number,
      default: null
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    mapLocale (data) {
      return (data && data.th) || '-'
    },
    mapMediaPath (medias) {
      return medias.length > 0 ? medias[0].path : DEFAULT_MEDIA
    },
    onSelectFarm (id, name) {
      this.$emit('update:selectedFarmId', id)
      this.$emit('update:selectedFarmName', name)
    }
  }
}
</script>

<style lang="scss" scoped>
#farmSelector {
  margin: 0 8px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  .title {
    > span {
      .farm {
        font-size: 18px;
        font-weight: 500;
        color: #424242;
      }
      .products {
        font-size: 18px;
        font-weight: 500;
        color: #FF9300;
      }
    }
  }
}
.farms-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-left: -5px;
  margin-right: -5px;
}
.img-wrapper {
  height: 180px;
  background-color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
</style>
