<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">ฟาร์ม : </div>
      <div class="search-content-select">
        <a-select
          showSearch
          placeholder="เลือกฟาร์ม"
          optionFilterProp="children"
          size="large"
        >
          <a-select-option value="jack">ฟาร์ม A</a-select-option>
          <a-select-option value="lucy">ฟาร์ม B</a-select-option>
          <a-select-option value="tom">ฟาร์ม C</a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">สาขา : </div>
      <div class="search-content-select">
        <a-select
          showSearch
          placeholder="เลือกสาขา"
          optionFilterProp="children"
          size="large"
        >
          <a-select-option value="jack">สาขา A</a-select-option>
          <a-select-option value="lucy">สาขา A</a-select-option>
          <a-select-option value="tom">สาขา A</a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">จังหวัด : </div>
      <div class="search-content-select">
        <a-select
          showSearch
          placeholder="เลือกจังหวัด"
          optionFilterProp="children"
          size="large"
        >
          <a-select-option value="jack">กรุงเทพฯ</a-select-option>
          <a-select-option value="lucy">นนทบุรี</a-select-option>
          <a-select-option value="tom">สมุทรปราการ</a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">พื้นที่ (ไร่) : </div>
      <div class="search-content-input">
         <a-input
            size="large"
            placeholder="จำนวนพื้นที่ (ไร่)"/>
      </div>
    </div>
    <div class="search-content-section">
        <div class="search-content-label">จำนวน (ต้น) : </div>
        <div class="search-content-input">
          <a-input
            size="large"
            placeholder="จำนวน (ต้น)"/>
        </div>
    </div>
    <div class="search-content-section">
        <div class="search-content-label">ออกผล (ต้น) : </div>
        <div class="search-content-input">
          <a-input
            size="large"
            placeholder="ออกผล (ต้น)"/>
        </div>
    </div>
  </div>
</template>
<script>
export default {
}
</script>
<style lang="scss">
  .search-content-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    .search-content-section {
      width: 100%;
      margin-bottom: 10px;
      .search-content-label {
        display: inline-block;
        width: 130px;
        text-align: left;
        margin-right: 10px;
        @media only screen and (min-width: 768px) {
          text-align: right;
        }
      }
      .search-content-select {
        display: inline-block;
        width: 224px;
        .ant-select {
          width: 100%;
        }
      }

      .search-content-input {
        display: inline-block;
        width: 224px;
      }
    }
  }
</style>
