<template>
  <div class="search-content-container">
    <div class="search-content-section">
      <div class="search-content-label">ชนิด : </div>
      <div class="search-content-select">
        <a-select
          showSearch
          placeholder="เลือกชนิด"
          optionFilterProp="children"
          size="large"
        >
          <a-select-option value="jack">ชนิด A</a-select-option>
          <a-select-option value="lucy">ชนิด B</a-select-option>
          <a-select-option value="tom">ชนิด C</a-select-option>
        </a-select>
      </div>
    </div>
    <div class="search-content-section">
      <div class="search-content-label">สายพันธุ์ : </div>
      <div class="search-content-select">
        <a-select
          showSearch
          placeholder="เลือกสายพันธุ์"
          optionFilterProp="children"
          size="large"
        >
          <a-select-option value="jack">สายพันธุ์ A001</a-select-option>
          <a-select-option value="lucy">สายพันธุ์ B001</a-select-option>
          <a-select-option value="tom">สายพันธุ์ C001</a-select-option>
        </a-select>
      </div>
    </div>
  </div>
</template>
<script>
export default {
}
</script>
<style lang="scss">
  .search-content-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    .search-content-section {
      width: 100%;
      margin-bottom: 10px;
      .search-content-label {
        display: inline-block;
        width: 130px;
        text-align: left;
        margin-right: 10px;
        @media only screen and (min-width: 768px) {
          text-align: right;
        }
      }
      .search-content-select {
        display: inline-block;
        width: 224px;
        .ant-select {
          width: 100%;
        }
      }
    }
  }
</style>
