<template>
  <div id="biddingSummary">
    <div class="body">
      <h1 class="title orange">
        ยินดีด้วย !
      </h1>
      <h2 class="title orange">
        การประมูลสินค้า {{ farm.fruitBreed && farm.fruitBreed.fruitType && farm.fruitBreed.fruitType.name }}, สายพันธุ์ {{ farm.fruitBreed && farm.fruitBreed.name }} จาก {{ farm.name }}, {{ farm && farm.province && farm.province['th'] || '' }} สำเร็จ
      </h2>
      <h1 class="title" style="margin-top: 15px;">
        ราคาที่ทำการประมูล
      </h1>
      <p class="t-al-center f-w-500 cl-primary" :style="{ margin: '1.5rem 0', fontSize: '2.5rem' }">
        {{ biddingPrice | numberComma }}
      </p>
      <label class="description">เครดิตคงเหลือ : {{ user.guaranteeRemaining || 0 | numberComma }} บาท</label>
      <label class="description" style="margin-bottom: 15px;">เครดิตที่ใช้ไป : {{ user.guaranteeUsed || 0 | numberComma }} <span style="color: #ff9300;">(+{{ biddingPrice - myCurrentCredit | numberComma }})</span> บาท</label>
      <label class="description fade">พื้นที่ {{ farm.numArea | numberComma }} ไร่</label>
      <label class="description fade">จำนวน {{ farm.numTree | numberComma }} ต้น - ออก {{ expectedHarvestOutput | numberComma }} ต้น</label>
      <label class="description fade">วันที่เก็บเกี่ยว {{ expectedHarvestDateTimeStart | dateTimeTh }}</label>
      <a-button
        class="oa-button is-primary"
        type="primary"
        :style="{ marginTop: '2.5rem' }"
        @click="$emit('submit')"
      >
        เสร็จสิ้น
      </a-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SummaryBiddingState',
  props: {
    biddingPrice: Number,
    farm: Object,
    expectedHarvestOutput: Number,
    expectedHarvestDateTimeStart: String,
    expectedHarvestDateTimeEnd: String,
    extraCondition: String,
    user: {
      type: Object,
      default: () => {}
    },
    biddingAuction: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    myCurrentCredit () {
      const { auctionTransactionAuctionBases } = this.biddingAuction
      if (auctionTransactionAuctionBases && auctionTransactionAuctionBases.length > 0) {
        const transaction = auctionTransactionAuctionBases.find(t => t.bidUser === this.user.id)
        return (transaction && transaction.guaranteePrice) || 0
      }
      return 0
    }
  },
  methods: {
    onNextState () {
      this.$emit('nextState')
    },
    onPreviousState () {
      this.$emit('previousState')
    }
  }
}
</script>

<style lang="scss" scoped>
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin: 10px 10px;

  h1.title {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0px;
    &.orange {
      color: #ff9300;
    }
  }

  h2.title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;
    &.orange {
      color: #ff9300;
    }
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
}

.price {
  font-size: 26px;
  font-weight: 500;
  color: #ff9300;
}
.description {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0px;
  &.fade {
    color: #9e9e9e;
  }
}
</style>
